/* CSS imports */
@import url(/assets/css/assets/_cssreset.css);
@import url(/assets/css/assets/_utility.css);
@import url(/assets/css/assets/_header.css);
@import url(/assets/css/assets/_menu.css);
@import url(/assets/css/assets/_plans.css);
@import url(/assets/css/assets/_footer.css);
/*@import url(/assets/css/assets/_aboutus.css);*/
/*@import url(/assets/css/assets/_faq.css);*/
/* vazir cdn */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
body{
   font-family: 'Vazirmatn', sans-serif;
  }
/*  Vazir  */
@font-face {
    font-family: Vazir Code;
    src: url('/font/vazir/Vazir-Code.eot');
    src: url('/font/vazir/Vazir-Code.eot?#iefix') format('embedded-opentype'),
         url('/font/vazir/Vazir-Code.woff') format('woff'),
         url('/font/vazir/Vazir-Code.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Vazir Code Hack;
    src: url("/font/vazir/Vazir-Code-Hack.eot");
    src: url("/font/vazir/Vazir-Code-Hack.eot?#iefix") format('embedded-opentype'),
         url("/font/vazir/Vazir-Code-Hack.woff") format('woff'),
         url("/font/vazir/Vazir-Code-Hack.ttf") format('truetype');
    font-weight: normal;
  }
  /* Iran Sans */
  @font-face {
    font-family: iran Sans;
    src: url("/font/iransans/IRANSans-web.woff");
    font-weight: normal;
  }
  /* B nazanin */
  @font-face {
    font-family: B nazanin;
    src: url("/font/bnazanin/BNazanin.woff2");
    font-weight:normal;
  }
  /* font assignment */
  h6,h5,h4,h3,h2,h1{
    font-family: 'Vazir Code','Vazir Code Hack',monospaced;
  }