

.header-nav{
    /*position: fixed;*/
    background-color: #e01c7a;
}
.menu-options{
    font-size: 0.8rem;
}
.menu-options:active{
    color: #ffffff;
}
.menu-options:nth-child(-n+3) {
    color: #ffffff;
    text-shadow: 0 2px 5px #f8f6f6;
    transition: transform 0.4s ease;
}
.menu-options:nth-child(-n+3):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.menu-icon{
    width: 5rem;
    height: auto;
    filter: drop-shadow(-2px 2px 7px #ffffff);
    overflow: hidden;
}


 .nav-link.active {
     font-weight: bold;
     color: #0d6efd !important;
     border-bottom: 2px solid #0d6efd;
 }

body {
    scroll-behavior: smooth;
    padding-top: 60px; /* جبران navbar فیکس‌شده */
}

