
.header-con {
    /*position: fixed;*/
    background-color: #1ce0ac;
    border-radius: 0 0 10px 10px;
}

.menu-options {
    font-size: 0.8rem;
}

.menu-options:nth-child(-n+3) {
    color: #ffffff;
    text-shadow: 0 2px 5px #ecd240;
    transition: transform 0.4s ease;
}

.menu-options:nth-child(-n+3):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu-icon {
    width: 3rem;
    height: auto;
    filter: drop-shadow(-5px 2px 10px #831fd4);
    overflow: hidden;
}

.nav-link.active {
    font-weight: bold;
    color: #eb3cab !important;
    border-bottom: 2px solid #c6d8f3;
}


.div-title-container {
    background-color: #0d1d5e;
    border-radius: 10px;
}