.perspolis {
    background-image: url("");
}

.esteghlal {
    background-image: url("");
}


.light-card {
    background-image: url("");
}

.gradient-card-1 {
    background-image: url("");
}

.gradient-card-2 {
    background-image: url("");
}

.gradient-card-3 {
    background-image: url("");
}

.gradient-card-4 {
    background-image: url("");
}

.gradient-card-5 {
    background-image: url("");
}

.funny-card-1 {
    background-image: url("");
}

.iran-card {
    background-image: url("");
}

.celebrity-card-1 {
    background-image: url("");
}

.celebrity-card-2 {
    background-image: url("");
}

.celebrity-card-3 {
    background-image: url("");
}

.celebrity-card-4 {
    background-image: url("");
}

.celebrity-card-5 {
    background-image: url("");
}

.celebrity-card-6 {
    background-image: url("");
}



