/*⬇️ Here starts the container*/
/*.section-1 {*/
/*    border-radius: 15px 15px 0 0;*/
/*}*/

/*⬇️the title of the page*/
.h1-title {
    font-family: 'lalezar', serif;
    font-size: 32px;
    font-weight: bolder;
    border-radius: 10px;
    background-image: url(../../img/background/title-gif/title.gif);
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

/*⬇️CARD*/
.card-container {
    padding: 5px;
    aspect-ratio: 1.586 / 1; /* نسبت طلایی برای کارت */
    width: 100%;
    background: linear-gradient(to bottom right, #97ffc6, #c9ff50);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.shetab-div {
    width: 20%;
}

/*⬇️Shetab Icon on the top left */
.shetab-ico {
    /*position: relative;*/
    /*top: 0;*/
    /*right: 15px;*/
    border-radius: 4px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));


    /*padding: 5px;*/
    /*aspect-ratio: 1.586 / 1; !* نسبت طلایی برای کارت *!*/
    /*width: 100%;*/
    /*background: linear-gradient(to bottom right, #97ffc6, #c9ff50);*/
    /*border-radius: 12px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);*/
}

/* the div which contains the bank icon*/
.bank-div {
    width: 20%;
}

/*⬇️ Icon for the bank*/
.bank-ico {
    /*width: 100%;*/
    /*height: auto;*/
    border-radius: 4px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

/*⬇️card-number ui*/
.card-num {
    /*width: 100%;*/
    font-family: 'Vazir', serif;
    font-weight: bolder;
}

/*⬇️shaba-number UI*/
.shaba-num {
    width: 100%;
    font-family: 'Vazir Code', serif;
    font-size: 20px;
    /*font-weight: bold;*/
}

/*⬇️card-name UI */
.card-name {
    font-family: 'iran Sans', serif;
    font-size: 18px;
}


.input-form {
    background-color: #0d1d5e;
    border-radius: 15px;
    padding: 1rem;
    border: 1px dashed #1ce0ac;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.accordion-text-content {
    line-height: 1.6;
    text-align: justify;
}


.accordion-text {
    background-color: azure;
}

.accordion-header {
    background-color: #0d1d5e;
    color: white;
}

.section-3 {
    border-radius: 15px;
}